<h2>List</h2>
<div class="row">
    {{#each model as |report|}}
        <div class="col-md-4">
            <div class="panel panel-default library-item">
                <div class="panel-heading">
                    <h3 class="panel-title">{{report.date}}</h3>
                </div>
                <div class="panel-body">
                    <p>Reporter: {{report.reporterName}}</p>
                    <p>Context: {{report.context}}</p>
                    <p>Report: {{report.textWhatHappened}}</p>
                    <p>Situation Now: {{report.textSituationNow}}</p>
                    <p>Occurrence: {{report.occurrence}}</p>
                </div>
                <div class="panel-footer text-right">
                    {{#link-to 'reports.edit' report.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
                    <button class="btn btn-danger btn-xs" {{action 'deleteReport' report}}>Delete</button>
                </div>
            </div>
        </div>
    {{/each}}
</div>